#23andMe
Do my partner and I have any common relatives?

In [60]:
import pandas as pd

my_rel = pd.read_csv('relative_finder_ME.csv')
gf_rel = pd.read_csv('relative_finder_GF.csv')
my_rel[21:25]

,Name,Sex,Birth Year,Relationship,Predicted Relationship,Predicted Range,DNA Shared,Segments Shared,Maternal Side,Paternal Side,Maternal Haplogroup,Paternal Haplogroup,Birthplace,Residence,Ancestry,Family Surnames,Family Locations,Notes,Sharing Status,Introduction Status
21,NaN,Male,NaN,4th Cousin,4th Cousin,3rd to 5th Cousin,0.36%,3,NaN,NaN,H5a1,R1b1b2a1a2f*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Female,NaN,4th Cousin,4th Cousin,3rd to 5th Cousin,0.35%,2,NaN,NaN,C1b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Male,NaN,4th Cousin,4th Cousin,3rd to 5th Cousin,0.34%,2,NaN,NaN,V,R1a1a,Sweden,NaN,Northern Europe,"Persson, Svensson, Brink, Jonsdotter, Norén, N...",Ljusdal; Sweden; Fryksände; Värmland; Färila; ...,NaN,NaN,NaN
24,NaN,Male,NaN,4th Cousin,4th Cousin,3rd to 5th Cousin,0.34%,2,NaN,NaN,H1,R1a1a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


23andMe doesn't give unique identifiers, so I have to try to craft combinations of fields
which uniquely identify people, and which can be matched on GF's set of relatives.

In [61]:
# don't use fields which depend on relationship to me
id_fields = ['Name', 'Sex', 'Birth Year', 'Maternal Haplogroup',
             'Paternal Haplogroup', 'Birthplace',
             'Residence', 'Ancestry', 'Family Surnames', 'Family Locations']

#Check for and Remove Duplicated Rows
Some of the rows will have substantial missing values-- when people don't share info in the id_fields.
This will lead to indistinguishable rows. Pandas drop_duplicates doesn't quite do the job, cause I want to get rid of not only duplicates, but the rows which are duplicated (which are likely to lead to false positive matches).

In [62]:
# using fillna because groupby doesn't play well with NaN
my_rel = my_rel.fillna(-1).groupby(id_fields).filter(lambda x: len(x)==1)
print len(my_rel)

gf_rel = gf_rel.fillna(-1).groupby(id_fields).filter(lambda x: len(x)==1)
print len(gf_rel)

676
304

# Find matches

In [58]:
matches = pd.merge(my_rel,gf_rel,on=id_fields)
print matches[id_fields]

  Name     Sex  Birth Year Maternal Haplogroup Paternal Haplogroup Birthplace  \
0   -1  Female          -1                  B2                  -1         -1

  Residence Ancestry Family Surnames Family Locations
0        -1       -1              -1               -1

Likely a false positive!